.idea
*.sw*
.DS_Store
bin/*
.vscode
*.kubeconfig
*.config
_output
vendor
public.zip
docs/public
docs/node_modules
docs/public.zip
cluster.yaml
eksa-test*
generated/
eks-anywhere-downloads*
hardware-manifests/
*.env