.idea
*.sw*
.DS_Store
bin/*
.vscode
*.kubeconfig
*.config
_output
vendor
public.zip
docs/public
docs/node_modules
docs/public.zip
cluster.yaml
eksa-test*
generated/
eks-anywhere-downloads*
hardware-manifests/
*.env
support-bundle*
/.ignore
coverage.out
docs/.hugo_build.lock
*-logs
*-artifacts
*.log
pkg/executables/TestDeployTemplate*
pkg/files/config
config/crd/bases/_.yaml
