$primary: #3371E2;

// used for landing page video banner
// changes padding from td-box
.td-vid-box {
    .row.section {
         padding-left: 5vw;
         padding-right: 5vw;
         flex-direction: column;
  
         > table {
          @extend .table-striped;
  
          @extend .table-responsive;
  
          @extend .table;
         }
     }
  
    .row {
         flex-direction: row;
    }
  }