{{- $kube_minor_version := (index (splitList "." (trimPrefix "v" .KubernetesVersion)) 1) -}}
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  podSubnet: {{ .PodSubnet }}
  serviceSubnet: {{ .ServiceSubnet }}
kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    dns:
      imageRepository: {{.CorednsRepository}}
      imageTag: {{.CorednsVersion}}
    etcd:
      local:
        imageRepository: {{.EtcdRepository}}
        imageTag: {{.EtcdVersion}}
    imageRepository: {{.KubernetesRepository}}
    kubernetesVersion: {{.KubernetesVersion}}
    apiServer:
        # enable auditing flags on the API server
        extraArgs:
          audit-log-maxage: "30"
          audit-log-maxbackup: "10"
          audit-log-maxsize: "512"
          audit-log-path: /var/log/kubernetes/api-audit.log
          audit-policy-file: /etc/kubernetes/policies/audit-policy.yaml
        # mount new files / directories on the control plane
        extraVolumes:
          - name: audit-policies
            hostPath: /etc/kubernetes/policies
            mountPath: /etc/kubernetes/policies
            readOnly: true
            pathType: DirectoryOrCreate
          - name: audit-logs
            hostPath: /var/log/kubernetes
            mountPath: /var/log/kubernetes
            readOnly: false
            pathType: DirectoryOrCreate
{{- if (ge (atoi $kube_minor_version) 31) }}
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        fail-cgroupv1: "false"
  - |
    kind: JoinConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        fail-cgroupv1: "false"
{{- end }}
{{- if (ne .RegistryConfigDir "") }}
containerdConfigPatches:
  - |
    [plugins."io.containerd.grpc.v1.cri".registry]
      config_path = "/etc/containerd/certs.d"
{{- end }}
nodes:
- role: control-plane
  extraMounts:
  - hostPath: {{ .AuditPolicyPath }}
    containerPath: /etc/kubernetes/policies/audit-policy.yaml
    readOnly: true
{{- if (ne .RegistryConfigDir "") }}
  - containerPath: /etc/containerd/certs.d
    hostPath: {{.RegistryConfigDir}}
    readOnly: true
{{- end }}
{{- if .DockerExtraMounts }}
  - hostPath: /var/run/docker.sock
    containerPath: /var/run/docker.sock
{{- end }}
{{- if ne (len .ExtraPortMappings) 0 }}
  extraPortMappings:
{{- range .ExtraPortMappings }}
  - containerPort: {{ . }}
    hostPort: {{ . }}
{{- end }}
{{- end }}
