apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfigTemplate
metadata:
  name: {{.workloadkubeadmconfigTemplateName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          criSocket: /var/run/containerd/containerd.sock
{{- if .workerNodeGroupTaints }}
          taints:{{ range .workerNodeGroupTaints}}
          - key: {{ .Key }}
            value: {{ .Value }}
            effect: {{ .Effect }}
{{- if .TimeAdded }}
            timeAdded: {{ .TimeAdded }}
{{- end }}
{{- end }}
{{- else}}
          taints: []
{{- end }}
          kubeletExtraArgs:
            provider-id: cloudstack:///'{{`{{ ds.meta_data.instance_id }}`}}'
            read-only-port: "0"
            anonymous-auth: "false"
{{- if .kubeletExtraArgs }}
{{ .kubeletExtraArgs.ToYaml | indent 12 }}
{{- end }}
          name: '{{`{{ ds.meta_data.local_hostname }}`}}'
{{- if or .proxyConfig .registryMirrorConfiguration }}
      files:
{{- end }}
{{- if .proxyConfig }}
      - content: |
          [Service]
          Environment="HTTP_PROXY={{.httpProxy}}"
          Environment="HTTPS_PROXY={{.httpsProxy}}"
          Environment="NO_PROXY={{ stringsJoin .noProxy "," }}"
        owner: root:root
        path: /etc/systemd/system/containerd.service.d/http-proxy.conf
{{- end }}
{{- if .registryCACert }}
      - content: |
{{ .registryCACert | indent 10 }}
        owner: root:root
        path: "/etc/containerd/certs.d/{{.registryMirrorConfiguration}}/ca.crt"
{{- end }}
{{- if .registryMirrorConfiguration }}
      - content: |
          [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
            [plugins."io.containerd.grpc.v1.cri".registry.mirrors."public.ecr.aws"]
              endpoint = ["https://{{.registryMirrorConfiguration}}"]
            {{- if .registryCACert }}
            [plugins."io.containerd.grpc.v1.cri".registry.configs."{{.registryMirrorConfiguration}}".tls]
              ca_file = "/etc/containerd/certs.d/{{.registryMirrorConfiguration}}/ca.crt"
            {{- end }}
        owner: root:root
        path: "/etc/containerd/config_append.toml"
{{- end }}
      preKubeadmCommands:
      - swapoff -a
{{- if .registryMirrorConfiguration }}
      - cat /etc/containerd/config_append.toml >> /etc/containerd/config.toml
{{- end }}
{{- if or .proxyConfig .registryMirrorConfiguration }}
      - sudo systemctl daemon-reload
      - sudo systemctl restart containerd
{{- end }}
      - hostname "{{`{{ ds.meta_data.local_hostname }}`}}"
      - echo "::1         ipv6-localhost ipv6-loopback" >/etc/hosts
      - echo "127.0.0.1   localhost" >>/etc/hosts
      - echo "127.0.0.1   {{`{{ ds.meta_data.local_hostname }}`}}" >>/etc/hosts
      - echo "{{`{{ ds.meta_data.local_hostname }}`}}" >/etc/hostname
{{- if .cloudstackDiskOfferingProvided }}
      - mountPath={{ .cloudstackDiskOfferingPath }}
      - devname=$(lsblk -f -l -o NAME,FSTYPE -J | jq -r ' .blockdevices[-1] | .name ')
      - devfstype=$(lsblk -f -l -o NAME,FSTYPE -J | jq -r ' .blockdevices[-1] | .fstype ')
      - rootfstype=$(lsblk -f -l -o NAME,FSTYPE,MOUNTPOINT -J | jq -r '.blockdevices[] | select(.mountpoint == "/") | .fstype ')
      - if [ $devfstype == "null" ]; then echo "type=83" | sfdisk /dev/${devname} && mkfs -t ${rootfstype} /dev/${devname}1 && mkdir -p ${mountPath} && echo /dev/${devname}1 ${mountPath} ${rootfstype} defaults 0 0 >> /etc/fstab && mount ${mountPath} ; else echo "data disk dev not found"; fi
{{- end }}
      users:
      - name: {{.workerSshUsername}}
        sshAuthorizedKeys:
        - '{{.cloudstackWorkerSshAuthorizedKey}}'
        sudo: ALL=(ALL) NOPASSWD:ALL
      format: {{.format}}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{.clusterName}}
  name: {{.workerNodeGroupName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  clusterName: {{.clusterName}}
  replicas: {{.workerReplicas}}
  selector:
    matchLabels: {}
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: {{.clusterName}}
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: {{.workloadkubeadmconfigTemplateName}}
      clusterName: {{.clusterName}}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: CloudStackMachineTemplate
        name: {{.workloadTemplateName}}
      version: {{.kubernetesVersion}}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: CloudStackMachineTemplate
metadata:
  name: {{.workloadTemplateName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  template:
    spec:
      offering:
{{- if .cloudstackOfferingId }}
        id: {{.cloudstackOfferingId}}
{{- end}}
{{- if .cloudstackOfferingName }}
        name: {{.cloudstackOfferingName}}
{{- end}}
      template:
{{- if .cloudstackTemplateId }}
        id: {{.cloudstackTemplateId}}
{{- end}}
{{- if .cloudstackTemplateName }}
        name: {{.cloudstackTemplateName}}
{{- end}}
{{- if .cloudstackDiskOfferingProvided}}
      diskOffering:
{{- if .cloudstackDiskOfferingId }}
        id: {{.cloudstackDiskOfferingId}}
{{- end}}
{{- if .cloudstackDiskOfferingName }}
        name: {{.cloudstackDiskOfferingName}}
{{- end}}
        mountPath: {{.cloudstackDiskOfferingPath}}
{{- end}}
{{- if .cloudstackCustomDetails }}
      details:
{{- range $key, $value := .cloudstackCustomDetails}}
        {{$key}}: {{$value}}
{{- end}}
{{- end}}
{{- if .cloudstackAffinity }}
      affinity: '{{ .cloudstackAffinity }}'
{{- end }}
{{- if .cloudstackAffinityGroupIds }}
      affinitygroupids:
      {{- range .cloudstackAffinityGroupIds}}
      - {{.}}
      {{- end }}
{{- end }}
