apiVersion: cluster.x-k8s.io/v1beta2
kind: Cluster
metadata:
  name: {{.clusterName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  clusterNetwork:
    pods:
      cidrBlocks: {{.podCidrs}}
    serviceDomain: cluster.local
    services:
      cidrBlocks: {{.serviceCidrs}}
  controlPlaneRef:
    apiGroup: controlplane.cluster.x-k8s.io
    kind: KubeadmControlPlane
    name: {{.clusterName}}
  infrastructureRef:
    apiGroup: infrastructure.cluster.x-k8s.io
    kind: DockerCluster
    name: {{.clusterName}}
{{- if .externalEtcd }}
  managedExternalEtcdRef:
    apiGroup: etcdcluster.cluster.x-k8s.io
    kind: EtcdadmCluster
    name: {{.clusterName}}-etcd
{{- end }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerCluster
metadata:
  name: {{.clusterName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  loadBalancer:
    imageRepository: {{.haproxyImageRepository}}
    imageTag: {{.haproxyImageTag}}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerMachineTemplate
metadata:
  name: {{.controlPlaneTemplateName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  template:
    spec:
      extraMounts:
      - containerPath: /var/run/docker.sock
        hostPath: /var/run/docker.sock
      customImage: {{.kindNodeImage}}
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: KubeadmControlPlane
metadata:
  name: {{.clusterName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  machineTemplate:
    spec:
      infrastructureRef:
        apiGroup: infrastructure.cluster.x-k8s.io
        kind: DockerMachineTemplate
        name: {{.controlPlaneTemplateName}}
  kubeadmConfigSpec:
    clusterConfiguration:
      imageRepository: {{.kubernetesRepository}}
      etcd:
{{- if .externalEtcd }}
        external:
          endpoints: ["{{.placeholderExternalEtcdEndpoint}}"]
          caFile: "/etc/kubernetes/pki/etcd/ca.crt"
          certFile: "/etc/kubernetes/pki/apiserver-etcd-client.crt"
          keyFile: "/etc/kubernetes/pki/apiserver-etcd-client.key"
{{- else }}
        local:
          imageRepository: {{.etcdRepository}}
          imageTag: {{.etcdVersion}}
{{- if .etcdExtraArgs }}
          extraArgs:
{{ .etcdExtraArgs.ToYaml | indent 10 }}
{{- end }}
{{- end }}
      dns:
        imageRepository: {{.corednsRepository}}
        imageTag: {{.corednsVersion}}
      apiServer:
        certSANs:
        - localhost
        - 127.0.0.1
        {{- with .apiServerCertSANs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
{{- if .admissionExclusionPolicy }}
        extraEnvs:
        - name: EKS_PATCH_EXCLUSION_RULES_FILE
          value: /etc/kubernetes/admission-plugin-exclusion-rules.json
{{- end }}
        extraArgs:
        - name: audit-policy-file
          value: "/etc/kubernetes/audit-policy.yaml"
        - name: audit-log-path
          value: "/var/log/kubernetes/api-audit.log"
        - name: audit-log-maxage
          value: "30"
        - name: audit-log-maxbackup
          value: "10"
        - name: audit-log-maxsize
          value: "512"
        - name: profiling
          value: "false"
{{- if .apiserverExtraArgs }}
{{ .apiserverExtraArgs.ToYaml | indent 8 }}
{{- end }}
        extraVolumes:
        - hostPath: /etc/kubernetes/audit-policy.yaml
          mountPath: /etc/kubernetes/audit-policy.yaml
          name: audit-policy
          pathType: File
          readOnly: true
        - hostPath: /var/log/kubernetes
          mountPath: /var/log/kubernetes
          name: audit-log-dir
          pathType: DirectoryOrCreate
          readOnly: false
{{- if .admissionExclusionPolicy }}
        - hostPath: /etc/kubernetes/admission-plugin-exclusion-rules.json
          mountPath: /etc/kubernetes/admission-plugin-exclusion-rules.json
          name: admission-exclusion-rules
          pathType: File
          readOnly: true
{{- end }}
{{- if .awsIamAuth}}
        - hostPath: /var/lib/kubeadm/aws-iam-authenticator/
          mountPath: /etc/kubernetes/aws-iam-authenticator/
          name: authconfig
          readOnly: false
        - hostPath: /var/lib/kubeadm/aws-iam-authenticator/pki/
          mountPath: /var/aws-iam-authenticator/
          name: awsiamcert
          readOnly: false
{{- end}}
      controllerManager:
        extraArgs:
        - name: enable-hostpath-provisioner
          value: "true"
        - name: profiling
          value: "false"
{{- if .controllermanagerExtraArgs }}
{{ .controllermanagerExtraArgs.ToYaml | indent 8 }}
{{- end }}
      scheduler:
        extraArgs:
        - name: profiling
          value: "false"
{{- if .schedulerExtraArgs }}
{{ .schedulerExtraArgs.ToYaml | indent 8 }}
{{- end }}
    files:
{{- if .kubeletConfiguration }}
    - content: |
{{ .kubeletConfiguration | indent 8}}
      owner: root:root
      permissions: "0644"
      path: /etc/kubernetes/patches/kubeletconfiguration0+strategic.yaml
{{- end }}
{{- if .admissionExclusionPolicy }}
    - content: |
{{ .admissionExclusionPolicy | indent 8 }}
      owner: root:root
      path: /etc/kubernetes/admission-plugin-exclusion-rules.json
{{- end }}
    - content: |
{{ .auditPolicy | indent 8 }}
      owner: root:root
      path: /etc/kubernetes/audit-policy.yaml
{{- if .registryCACert }}
    - content: |
{{ .registryCACert | indent 8 }}
      owner: root:root
      path: "/etc/containerd/certs.d/{{ .mirrorBase }}/ca.crt"
{{- end }}
{{- if .registryMirrorMap }}
    - content: |
        [plugins."io.containerd.grpc.v1.cri".registry]
          config_path = "/etc/containerd/certs.d"
      owner: root:root
      path: "/etc/containerd/config_append.toml"
    - content: |
        server = "https://{{ .mirrorBase }}"
        
        [host."https://{{ .mirrorBase }}"]
          capabilities = ["pull", "resolve"]
        {{- if or .registryCACert .insecureSkip }}
        {{- if .registryCACert }}
          ca = "/etc/containerd/certs.d/{{ .mirrorBase }}/ca.crt"
        {{- end }}
        {{- if .insecureSkip }}
          skip_verify = true
        {{- end }}
        {{- end }}
        {{- if .registryAuth }}
          [host."https://{{ .mirrorBase }}".header]
            authorization = "Basic {{ printf "%s:%s" .registryUsername .registryPassword | b64enc }}"
        {{- end }}
      owner: root:root
      path: "/etc/containerd/certs.d/{{ .mirrorBase }}/hosts.toml"
    {{- range $orig, $mirror := .registryMirrorMap }}
    - content: |
        server = "https://{{ $orig }}"
        
        [host."https://{{ $mirror }}"]
          capabilities = ["pull", "resolve"]
        {{- if or $.registryCACert $.insecureSkip }}
        {{- if $.registryCACert }}
          ca = "/etc/containerd/certs.d/{{ $.mirrorBase }}/ca.crt"
        {{- end }}
        {{- if $.insecureSkip }}
          skip_verify = true
        {{- end }}
        {{- end }}
        {{- if $.registryAuth }}
          [host."https://{{ $mirror }}".header]
            authorization = "Basic {{ printf "%s:%s" $.registryUsername $.registryPassword | b64enc }}"
        {{- end }}
      owner: root:root
      path: "/etc/containerd/certs.d/{{ $orig }}/hosts.toml"
    {{- end }}
{{- end }}
{{- if .awsIamAuth}}
    - content: |
        # clusters refers to the remote service.
        clusters:
          - name: aws-iam-authenticator
            cluster:
              certificate-authority: /var/aws-iam-authenticator/cert.pem
              server: https://localhost:21362/authenticate
        # users refers to the API Server's webhook configuration
        # (we don't need to authenticate the API server).
        users:
          - name: apiserver
        # kubeconfig files require a context. Provide one for the API Server.
        current-context: webhook
        contexts:
        - name: webhook
          context:
            cluster: aws-iam-authenticator
            user: apiserver
      permissions: "0640"
      owner: root:root
      path: /var/lib/kubeadm/aws-iam-authenticator/kubeconfig.yaml
    - contentFrom:
        secret:
          name: {{.clusterName}}-aws-iam-authenticator-ca
          key: cert.pem
      permissions: "0640"
      owner: root:root
      path: /var/lib/kubeadm/aws-iam-authenticator/pki/cert.pem
    - contentFrom:
        secret:
          name: {{.clusterName}}-aws-iam-authenticator-ca
          key: key.pem
      permissions: "0640"
      owner: root:root
      path: /var/lib/kubeadm/aws-iam-authenticator/pki/key.pem
{{- end}}
    initConfiguration:
{{- if .kubeletConfiguration }}
      patches: 
        directory: /etc/kubernetes/patches
{{- end }}
      nodeRegistration:
        criSocket: /var/run/containerd/containerd.sock
{{- if not .kubeletConfiguration }}
        kubeletExtraArgs:
        - name: eviction-hard
          value: "nodefs.available<0%,nodefs.inodesFree<0%,imagefs.available<0%"
{{- if .kubeletExtraArgs }}
{{ .kubeletExtraArgs.ToYaml | indent 8 }}
{{- end }}
{{- end }}
{{- if .nodeLabelArgs }}
{{ .nodeLabelArgs.ToYaml | indent 8 }}
{{- end }}
{{- if not .workerNodeGroupConfigurations }}
        taints: []
{{- end }}
{{- if and .workerNodeGroupConfigurations .controlPlaneTaints }}
        taints: {{ range .controlPlaneTaints}}
          - key: {{ .Key }}
            value: {{ .Value }}
            effect: {{ .Effect }}
{{- if .TimeAdded }}
            timeAdded: {{ .TimeAdded }}
{{- end }}
        {{- end }}
{{- end }}
    joinConfiguration:
{{- if .kubeletConfiguration }}
      patches: 
        directory: /etc/kubernetes/patches
{{- end }}
      nodeRegistration:
        criSocket: /var/run/containerd/containerd.sock
{{- if not .kubeletConfiguration }}
        kubeletExtraArgs:
        - name: eviction-hard
          value: "nodefs.available<0%,nodefs.inodesFree<0%,imagefs.available<0%"
{{- if .kubeletExtraArgs }}
{{ .kubeletExtraArgs.ToYaml | indent 8 }}
{{- end }}
{{- end }}
{{- if .nodeLabelArgs }}
{{ .nodeLabelArgs.ToYaml | indent 8 }}
{{- end }}
{{- if not .workerNodeGroupConfigurations }}
        taints: []
{{- end }}
{{- if and .workerNodeGroupConfigurations .controlPlaneTaints }}
        taints: {{ range .controlPlaneTaints}}
          - key: {{ .Key }}
            value: {{ .Value }}
            effect: {{ .Effect }}
{{- if .TimeAdded }}
            timeAdded: {{ .TimeAdded }}
{{- end }}
        {{- end }}
{{- end }}
{{- if .registryMirrorMap }}
    preKubeadmCommands:
    - cat /etc/containerd/config_append.toml >> /etc/containerd/config.toml
    - systemctl daemon-reload
    - systemctl restart containerd
{{- end }}
  replicas: {{.control_plane_replicas}}
{{- if .upgradeRolloutStrategy }}
  rollout:
    strategy:
      rollingUpdate:
        maxSurge: {{.maxSurge}}
{{- else }}
  rollout:
    strategy:
      rollingUpdate:
        maxSurge: 1
      type: RollingUpdate
{{- end }}
  version: {{.kubernetesVersion}}
{{- if .externalEtcd }}
---
kind: EtcdadmCluster
apiVersion: etcdcluster.cluster.x-k8s.io/v1beta1
metadata:
  name: {{.clusterName}}-etcd
  namespace: {{.eksaSystemNamespace}}
spec:
  replicas: {{.externalEtcdReplicas}}
  etcdadmConfigSpec:
    etcdadmBuiltin: true
    cloudInitConfig:
      version: {{.externalEtcdVersion}}
{{- if .externalEtcdReleaseUrl }}
      etcdReleaseURL: {{.externalEtcdReleaseUrl}}
{{- end }}
{{- if .etcdCipherSuites }}
    cipherSuites: {{.etcdCipherSuites}}
{{- end }}
{{- if .registryMirrorMap }}
    registryMirror:
      endpoint: {{ .publicMirror }}
      {{- if .registryCACert }}
      caCert: |
{{ .registryCACert | indent 8 }}
      {{- end }}
{{- end }}
  infrastructureTemplate:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
    kind: DockerMachineTemplate
    name: {{.etcdTemplateName}}
    namespace: {{.eksaSystemNamespace}}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerMachineTemplate
metadata:
  name: {{.etcdTemplateName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  template:
    spec:
      extraMounts:
        - containerPath: /var/run/docker.sock
          hostPath: /var/run/docker.sock
      customImage: {{.kindNodeImage}}
{{- end }}
{{- if .registryAuth }}
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: {{.eksaSystemNamespace}}
  labels:
    clusterctl.cluster.x-k8s.io/move: "true"
data:
  username: {{.registryUsername | b64enc}}
  password: {{.registryPassword | b64enc}}
---
{{- end }}
