apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfigTemplate
metadata:
  name: {{.workloadkubeadmconfigTemplateName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  template:
    spec:
      joinConfiguration:
{{- if .kubeletConfiguration }}
        patches: 
          directory: /etc/kubernetes/patches
{{- end }}
        nodeRegistration:
          criSocket: /var/run/containerd/containerd.sock
{{- if .workerNodeGroupTaints }}
          taints:{{ range .workerNodeGroupTaints}}
            - key: {{ .Key }}
              value: {{ .Value }}
              effect: {{ .Effect }}
{{- if .TimeAdded }}
              timeAdded: {{ .TimeAdded }}
{{- end }}
{{- end }}
{{- else}}
          taints: []
{{- end }}
{{- if not .kubeletConfiguration }}
          kubeletExtraArgs:
            eviction-hard: nodefs.available<0%,nodefs.inodesFree<0%,imagefs.available<0%
{{- if .kubeletExtraArgs }}
{{ .kubeletExtraArgs.ToYaml | indent 12 }}
{{- end }}
{{- end }}
{{- if .nodeLabelArgs }}
{{ .nodeLabelArgs.ToYaml | indent 12 }}
{{- end }}
{{- if or .registryMirrorMap .kubeletConfiguration }}
      files:
{{- end }}
{{- if .kubeletConfiguration }}
      - content: |
{{ .kubeletConfiguration | indent 10 }}
        owner: root:root
        permissions: "0644"
        path: /etc/kubernetes/patches/kubeletconfiguration0+strategic.yaml
{{- end }}
{{- if .registryCACert }}
      - content: |
{{ .registryCACert | indent 10 }}
        owner: root:root
        path: "/etc/containerd/certs.d/{{ .mirrorBase }}/ca.crt"
{{- end }}
{{- if .registryMirrorMap }}
      - content: |
          [plugins."io.containerd.grpc.v1.cri".registry]
            config_path = "/etc/containerd/certs.d"
        owner: root:root
        path: "/etc/containerd/config_append.toml"
      - content: |
          server = "https://{{ .mirrorBase }}"
          
          [host."https://{{ .mirrorBase }}"]
            capabilities = ["pull", "resolve"]
          {{- if or .registryCACert .insecureSkip }}
          {{- if .registryCACert }}
            ca = "/etc/containerd/certs.d/{{ .mirrorBase }}/ca.crt"
          {{- end }}
          {{- if .insecureSkip }}
            skip_verify = true
          {{- end }}
          {{- end }}
          {{- if .registryAuth }}
            [host."https://{{ .mirrorBase }}".header]
              authorization = "Basic {{ printf "%s:%s" .registryUsername .registryPassword | b64enc }}"
          {{- end }}
        owner: root:root
        path: "/etc/containerd/certs.d/{{ .mirrorBase }}/hosts.toml"
      {{- range $orig, $mirror := .registryMirrorMap }}
      - content: |
          server = "https://{{ $orig }}"
          
          [host."https://{{ $mirror }}"]
            capabilities = ["pull", "resolve"]
          {{- if or $.registryCACert $.insecureSkip }}
          {{- if $.registryCACert }}
            ca = "/etc/containerd/certs.d/{{ $.mirrorBase }}/ca.crt"
          {{- end }}
          {{- if $.insecureSkip }}
            skip_verify = true
          {{- end }}
          {{- end }}
          {{- if $.registryAuth }}
            [host."https://{{ $mirror }}".header]
              authorization = "Basic {{ printf "%s:%s" $.registryUsername $.registryPassword | b64enc }}"
          {{- end }}
        owner: root:root
        path: "/etc/containerd/certs.d/{{ $orig }}/hosts.toml"
      {{- end }}
      preKubeadmCommands:
      - cat /etc/containerd/config_append.toml >> /etc/containerd/config.toml
      - systemctl daemon-reload
      - systemctl restart containerd
{{- end }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: {{.workerNodeGroupName}}
  namespace: {{.eksaSystemNamespace}}
{{- if .autoscalingConfig }}
  annotations:
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: "{{ .autoscalingConfig.MinCount }}"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: "{{ .autoscalingConfig.MaxCount }}"
{{- end }}
spec:
  clusterName: {{.clusterName}}
{{- if not .autoscalingConfig }}
  replicas: {{.workerReplicas}}
{{- end }}
  selector:
    matchLabels: null
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: {{.workloadkubeadmconfigTemplateName}}
          namespace: {{.eksaSystemNamespace}}
      clusterName: {{.clusterName}}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
        kind: DockerMachineTemplate
        name: {{.workloadTemplateName}}
        namespace: {{.eksaSystemNamespace}}
      version: {{.kubernetesVersion}}
{{- if .upgradeRolloutStrategy }}
  strategy:
    rollingUpdate:
      maxSurge: {{.maxSurge}}
      maxUnavailable: {{.maxUnavailable}}
{{- end }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta2
kind: DockerMachineTemplate
metadata:
  name: {{.workloadTemplateName}}
  namespace: {{.eksaSystemNamespace}}
spec:
  template:
    spec:
      extraMounts:
      - containerPath: /var/run/docker.sock
        hostPath: /var/run/docker.sock
      customImage: {{.kindNodeImage}}
