- op: add
  path: /rules/-
  value:
    apiGroups:
      - etcdcluster.cluster.x-k8s.io
    resources:
      - '*'
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
- op: add
  path: /rules/-
  value:
    apiGroups:
      - cluster.x-k8s.io
    resources:
      - '*'
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
- op: add
  path: /rules/-
  value:
    apiGroups:
      - controlplane.cluster.x-k8s.io
    resources:
      - '*'
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
- op: add
  path: /rules/-
  value:
    apiGroups:
      - bootstrap.cluster.x-k8s.io
    resources:
      - kubeadmconfigtemplates
      - kubeadmconfigtemplates/status
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
- op: add
  path: /rules/-
  value:
    apiGroups:
      - addons.cluster.x-k8s.io
    resources:
      - clusterresourcesets
      - clusterresourcesets/status
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
- op: add
  path: /rules/-
  value:
    apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - vsphereclusters
      - vsphereclusters/status
      - vspheremachinetemplates
      - vspheremachinetemplates/status
      - dockerclusters
      - dockerclusters/status
      - dockermachinetemplates
      - dockermachinetemplates/status
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
- op: add
  path: /rules/-
  value:
    apiGroups:
      - etcdcluster.cluster.x-k8s.io
    resources:
      - etcdadmclusters
      - etcdadmclusters/status
    verbs:
      - get
      - list
      - watch
      - patch
      - update
- op: add
  path: /rules/-
  value:
    apiGroups:
      - ""
    resources:
      - secrets
      - secrets/status
      - configmaps
      - configmaps/status
      - namespaces
      - namespaces/status
      - services
      - services/status
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
- op: add
  path: /rules/-
  value:
    apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - clusterroles/status
      - clusterrolebindings
      - clusterrolebindings/status
      - rolebindings
      - rolebindings/status
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
- op: add
  path: /rules/-
  value:
    apiGroups:
      - apps
    resources:
      - daemonsets
      - daemonsets/status
      - deployments
    verbs:
      - get
      - list
      - patch
      - update
      - watch
      - create
- op: add
  path: /rules/-
  value:
    apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
      - update
- op: add
  path: /rules/-
  value:
    apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - '*'
- op: add
  path: /rules/-
  value:
    apiGroups:
      - ""
    resources:
      - nodes/status
    verbs:
      - patch
- op: add
  path: /rules/-
  value:
    apiGroups:
      - ""
    resources:
      - serviceaccounts
      - endpoints
    verbs:
      - create
      - get
      - list
      - patch
      - watch
      - update
- op: add
  path: /rules/-
  value:
    apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs:
      - get
      - list
      - watch
      - update
- op: add
  path: /rules/-
  value:
    apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - watch
      - list
      - delete
      - update
      - create
