---
apiVersion: v1
kind: Namespace
metadata:
  name: capi-ipam-provider
  labels:
    cluster.x-k8s.io/provider: ipam-in-cluster
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: inclusterippools.ipam.cluster.x-k8s.io
  labels:
    cluster.x-k8s.io/provider: ipam-in-cluster
    cluster.x-k8s.io/v1beta1: v1beta1
spec:
  group: ipam.cluster.x-k8s.io
  names:
    kind: InClusterIPPool
    listKind: InClusterIPPoolList
    plural: inclusterippools
    singular: inclusterippool
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.addresses
      name: Addresses
      type: string
    - jsonPath: .spec.prefix
      name: Prefix
      type: integer
    - jsonPath: .spec.gateway
      name: Gateway
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: InClusterIPPool is the Schema for the inclusterippools API.
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            description: InClusterIPPoolSpec defines the desired state of InClusterIPPool.
            properties:
              addresses:
                description: Addresses is a list of IP addresses or CIDR blocks.
                items:
                  type: string
                type: array
              gateway:
                description: Gateway is the gateway IP address.
                type: string
              prefix:
                description: Prefix is the subnet prefix.
                type: integer
            required:
            - addresses
            - prefix
            - gateway
            type: object
          status:
            description: InClusterIPPoolStatus defines the observed state of InClusterIPPool.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: globalinclusterippools.ipam.cluster.x-k8s.io
  labels:
    cluster.x-k8s.io/provider: ipam-in-cluster
    cluster.x-k8s.io/v1beta1: v1beta1
spec:
  group: ipam.cluster.x-k8s.io
  names:
    kind: GlobalInClusterIPPool
    listKind: GlobalInClusterIPPoolList
    plural: globalinclusterippools
    singular: globalinclusterippool
  scope: Cluster
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: GlobalInClusterIPPool is the Schema for the globalinclusterippools API.
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            description: InClusterIPPoolSpec defines the desired state of InClusterIPPool.
            properties:
              addresses:
                items:
                  type: string
                type: array
              gateway:
                type: string
              prefix:
                type: integer
            required:
            - addresses
            - prefix
            - gateway
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
