class EksAnywhere < Formula
  desc "CLI for managing EKS Anywhere Kubernetes clusters"
  homepage "https://github.com/aws/eks-anywhere"
  version "$VERSION"

  if OS.mac? && Hardware::CPU.arm?
    url "$darwin_arm64_url"
    sha256 "$darwin_arm64_sha256"
  end

  if OS.mac? && Hardware::CPU.intel?
    url "$darwin_amd64_url"
    sha256 "$darwin_amd64_sha256"
  end

  if OS.linux? && Hardware::CPU.arm?
    url "$linux_arm64_url"
    sha256 "$linux_arm64_sha256"
  end

  if OS.linux? && Hardware::CPU.intel?
    url "$linux_amd64_url"
    sha256 "$linux_amd64_sha256"
  end

  depends_on "eksctl"
  depends_on "kubernetes-cli"

  def install
    bin.install "eksctl-anywhere"
  end
end