name: Test coverage
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.20'
          check-latest: true
          cache: true
      - name: Run go test with coverage
        run: COVER_PROFILE=coverage.txt make coverage-unit-test
      - name: Codecov upload
        uses: codecov/codecov-action@v3.1.4
        with:
          files: ./coverage.txt
