name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    paths:
    - '**.go'
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: v1.56.2
          only-new-issues: true
          # Disable package caching to avoid a double cache with setup-go.
          skip-pkg-cache: true
          args: --timeout 10m
